@font-face {
    font-family: 'Sen-Regular';
    font-weight: 400;
    src: url(../assets/font/Sen-Regular.ttf);
}

@font-face {
    font-family: 'Sen-Bold';
    font-weight: 700;
    src: url(../assets/font/Sen-Bold.ttf);
}

:root {
    --blue: #5221E6;
    --gray: #8491A0;
    --black-dlc: #181823;
}

body {
    background-color: #000;
    font-size: 16px;
    font-family: 'Sen-Regular', Arial, sans-serif;
    color: #fff;
}

._container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
    background-color: #000;
}

button {
    font-family: 'Sen Regular';
}

@keyframes pulseOne {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0px 25px 55px 0px color var(--blue);
        -moz-box-shadow: 0px 25px 55px 0px var(--blue);
        -webkit-box-shadow: 0px 25px 55px 0px var(--blue);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes pulseTwo {
    0% {
        box-shadow: none;
    }

    50% {
        -webkit-box-shadow: 1px 1px 6px 6px rgba(183,  188,  193, 0.5);
        -moz-box-shadow: 1px 1px 6px 6px rgba(183,  188,  193, 0.5);
        box-shadow: 1px 1px 6px 6px rgba(183,  188,  193, 0.5);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 24px));
    }
}

.hero-section {
    position: relative;
    overflow: visible;
}

.hero-section_decorate {
    background-color: var(--black-dlc);
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    -webkit-animation: pulseOne 4.5s ease infinite;
    -moz-animation: pulseOne 4.5s ease infinite;
    animation: pulseOne 4.5s ease infinite;
}

.nav {
    box-sizing: border-box;
    padding: 0 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav_fixed {
    background-color: #000;
    box-shadow: 0px 5px 15px 0px var(--blue);
}

.nav__logo {
    width: 78px;
}

.nav__menu > ul {
    display: flex;
}

.nav__menu > ul > li {
    padding: 2rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 150%;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.nav_menu > ul > li:hover {
    background-color: var(--blue);
    font-weight: 700;
}

.hero-section__content {
    box-sizing: border-box;
    padding: 10.5rem 2.5% 5% 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 814px;
}

.hero-section__slider {
    width: 52%;
    height: 79%;
    position: absolute;
    left: 0;
    top: 5.5rem;
    z-index: 3;
    -webkit-animation: pulseOne 4.5s ease infinite;
    -moz-animation: pulseOne 4.5s ease infinite;;
    animation: pulseOne 4.5s ease infinite;
}

.hero-section__slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}

.hero-section__slide_1 {
    background-image: url(../img/mainPhotoXXLFront.png);
}

.hero-section__slide_2 {
    background-image: url(../img/mainPhotoXXLBack.png);
}

.hero-section__text {
    position: relative;
    z-index: 4;
    width: 54%;
    opacity: 0;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.hero-section__content > div:nth-child(2) > h1 {
    font-size: 4.8rem;
    line-height: 120%;
    margin-bottom: 2rem;
}

.hero-section__content > div:nth-child(2) > h1 > b > span {
    color: rgba(255, 255, 255, 0.50);
}

.hero-section__content > div:nth-child(2) > p {
    font-size: 1rem;
    line-height: 150%;
}

.experience-section {
    padding: 7.5rem 4.5rem 8.75rem;
}

p.experience-section__subtitle {
    color: var(--gray);
    font-size: 1rem;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h2.experience-section__title {
    opacity: 1;
    font-size: 55px;
    line-height: 120%;
    margin-bottom: 2.5rem;
    font-weight: 700;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}

.experience-section__items {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.experience-section__card {
    width: 35%;
}

.experience-section__card > p:nth-child(1) {
    color: var(--gray);
    font-size: 7.5rem;
    line-height: 120%;
}

.experience-section__card >p:nth-child(2) {
    font-size: 1.5rem;
    line-height: 150%;
}

.experience-section__card > p:nth-child(3) {
    color: var(--gray);
    font-size: 1rem;
    line-height: 150%;
    
}

.experience-section__card:nth-child(1) > p:nth-child(2) > b > span {
    color: #3CC74E;
}

.experience-section__card:nth-child(2) > p:nth-child(2) > b > span {
    color: #609BFF;
}

.experience-section__card:nth-child(3) > p:nth-child(2) > b > span {
    color: #E95D90;
}

.philosophy-section {
    display: flex;
}

.philosophy-section-left-side {
    background-color: #FFF3E4;
    box-sizing: border-box;
    width: 50%;
    padding: 7.5rem 4.5rem;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.philosophy-section-left-side-active {
    background-color: var(--black-dlc);
}

h2.philosophy-section-left-side__title {
    line-height: 120%;
    font-size: 3.5rem;
    color: var(--black-dlc);
    margin-bottom: 1.5rem;
}

p.philosophy-section-left-side__text {
    line-height: 150%;
    font-size: 1.2rem;
    color: #5B6876;
    margin-bottom: 8rem;
}

h2.philosophy-section-left-side__title-active,
p.philosophy-section-left-side__text-active {
    color: #fff;
}

button.philosophy-section-left-side__btn {
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--gray);
    -webkit-animation: pulseTwo 4.5s ease infinite;
    -moz-animation: pulseTwo 4.5s ease infinite;
    animation: pulseTwo 4.5s ease infinite;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

p.philosophy-section-left-side__btn-text {
    color: var(--black-dlc);
    font-size: 1rem;
    line-height: 150%;
}

button.philosophy-section-left-side__btn:hover {
    background-color: var(--black-dlc);
    -webkit-animation: pulseOne 4.5s ease infinite;
    -moz-animation: pulseOne 4.5s ease infinite;
    animation: pulseOne 4.5s ease infinite;
}

button.philosophy-section-left-side__btn:hover > p.philosophy-section-left-side__btn-text {
    color: #fff;
}

button.philosophy-section-left-side__btn-active {
    background-color: var(--black-dlc);
    -webkit-animation: pulseOne 4.5s ease infinite;
    -moz-animation: pulseOne 4.5s ease infinite;
    animation: pulseOne 4.5s ease infinite;
}

p.philosophy-section-left-side__btn-text-active {
    color: #fff;
}

.philosophy-section-right-side {
    box-sizing: border-box;
    width: 50%;
    padding: 2rem;
    position: relative;
    display: flex;
    align-items: center;

}

.philosophy-section-right-side-active {
    background-color: #FFF3E4;
}

.philosophy-section-right-side__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/PhilosophyValues.png);
}

.philosophy-section-right-side__back > p {
    line-height: 150%;
    font-size: 2rem;
    color: #5B6876;
}

.philosophy-section-right-side__front,
.philosophy-section-right-side__back {
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.skills-section {
    padding: 7.5rem 4.5rem;
}

.skills-section__up-section {
    display: flex;
    gap: 1.5rem;
}

.skills-section-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h2.skills-section-left-side__title {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 120%;
    margin-bottom: 1.5rem;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}
.skills-section-left-side > div:nth-child(1) > p:nth-child(2) {
    color: var(--gray);
    font-size: 1.2rem;
    line-height: 150%;
}

.skills-section-left-side > div:nth-child(2) {
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/skillsPhoto.jpg);
}

.skills-section-right-side {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem 1.5rem;
}

.skills-section-right-side__card {
    width: 48%;
}

.skills-section-right-side__inside > img {
    width: 32px;
    height: 32px;
    margin-bottom: 1.5rem;
}

.skills-section-right-side__inside > h3 {
    font-size: 1.5rem;
    line-height: 150%;
    margin-bottom: 1rem;
}

.skills-section-right-side__inside > p {
    color: var(--gray);
    font-size: 1rem;
    line-height: 150%;
}

.skills-section__down-section {
    padding: 1.5rem 0;
}

.skills-section__items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 24px;
}

.skills-section__items {
    display: flex;
    flex-shrink: 0;
    gap: 24px;
    justify-content: space-around;
    min-width: 100%;
}

.skills-section__marquee {
    animation: marquee 30s linear infinite;
}

.skills-section__item {
    border: 2px solid var(--blue);
    background: #000;
    width: 340px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2._hidden {
    opacity: 0;
}

._show {
    opacity: 1;
}

@media screen and (max-width: 1440px) {

    .hero-section-content > div:nth-child(2) > h1 {
        font-size: 3.5rem;
    }
    .skills-section_up-section_right_card {
        width: 100%;
    }

}

/*
.hero-section_content_card {
    width: 52%;
    height: 79%;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 3;
    -webkit-animation: pulse 4s ease infinite;
    -moz-animation: pulse 4s ease infinite;;
    animation: pulse 4s ease infinite;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.hero-section_content_card:hover .hero-section_content_card_front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.hero-section_content_card:hover .hero-section_content_card_back {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.hero-section_content_card_front,
.hero-section_content_card_back {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.hero-section_content_card_front {
    background-image: url(../img/mainPhotoXXLFront.png);
}

.hero-section_content_card_back {
    background-image: url(../img/mainPhotoXXLBack.png);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    t
*/